<app-navbar></app-navbar>
<table class="table table-striped" id="cart-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="cart-table-body">
    <tr *ngFor="let product of products">
      <td>{{ product.product.id }}</td>
      <td>{{ product.product.name }}</td>
      <td>
        <button
          [ngClass]="'fa-solid fa-minus ' + (themeService.dark ? 'btn-dark' : '')"
          (click)="changeQuantity(product.product, -1)"
        ></button>
        {{ product.quantity }}
        <button
        [ngClass]="'fa-solid fa-plus ' + (themeService.dark ? 'btn-dark' : '')"
          (click)="changeQuantity(product.product, 1)"
        ></button>
      </td>
      <td>{{ product.product.description }}</td>
      <td>
        <button (click)="removeItem(product.product)" class="btn btn-danger">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-danger" [routerLink]="['/home']">Back</button>
<button class="btn btn-warning" (click)="emptyCart()">Empty Cart</button>
<button class="btn btn-primary" [routerLink]="['/checkout']">
  Proceed to Checkout (${{ totalPrice }})
</button>
