<!-- TO USE TWO DIFFERENT CARDS -->
<!-- VIEW DETAILS -->
<div id="view-details" class="card p-2 m-3">
    <div class="card-body">
        <p><strong>Name:  </strong>{{userService.userInfo.firstName}}</p>
        <p><strong>Email:  </strong>{{userService.userInfo.email}}</p>
        <div class="d-flex justify-content-center">
            <button class="btn btn-light" (click)="btnClick()">
                <i class="bi-gear"></i>
                Modify</button>
        </div>
    </div>
</div>

<!-- MODIFY DETAILS -->
<div id="edit-details" class="card p-2 m-3" *ngIf="visible">
    <div class="card-body">
        <div>
            <p><strong>Name: </strong></p>
            <input type="text" [placeholder]= "userService.userInfo.firstName" class="form-control" [(ngModel)]= "updateFirstName">
        </div>
        <div>
            <p><strong>Email: </strong></p>
            <input type="text" [placeholder]= "userService.userInfo.email" class="form-control" [(ngModel)]= "updateEmail">
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-outline-success" (click)="updateUserInformation()">Update</button>
        </div>
    </div>
</div>