<div [ngClass]="themeService.dark ? 'card darkCard' : 'card'" style="width: 18rem;">
  <div class="general">
    <img class="card-img-top" [src]="productInfo.image" alt="Card image cap">
  </div>
    <div class="card-body">
      <h5 class="card-title">{{productInfo.name}}</h5>
      <p class="card-text">{{productInfo.description}}</p>
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
      </div>
      <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.price" aria-describedby="inputGroup-sizing-sm" disabled>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Quantity in Stock</span>
        </div>
        <input type="number" class="form-control" aria-label="Sizing example input" [value]="productInfo.quantity" aria-describedby="inputGroup-sizing-sm" disabled>
      </div>
    <div *ngIf="displayButtons;" class="card-body">
        <button class="btn btn-outline-success" (click)="addToCart(productInfo, itemCounter)">Add to Cart</button>  
        <span class="container">
          <button class="minus" (click)="decreaseByOne(itemCounter)">-</button>  
          <input (change)="checkItemCounter()" [(ngModel)]="itemCounter" type="number" class="count" name="qty" min="0" [max]="productInfo.quantity" value="1">
          <button class="plus" (click)="increaseByOne(itemCounter)">+</button> 
        </span>
    </div>
    <div *ngIf="!displayButtons" class="outOfStock">
      <p>Out Of Stock</p>
     
    </div>
</div>
